.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    color: white;
    background: linear-gradient(45deg, #dd80ed 0%, #3d28e3 100%);
    border-radius: 32px;
    border: none;
    width: 148px;
    height: 56px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 0;

    &[data-is-disabled="true"] {
        cursor: not-allowed;
        color: white;
        background: #cbcbcc;

        &:hover {
            background: #cbcbcc;
        }

        &:after {
            transition: 0.5s;
        }

        &:active:after {
            transition: 0.5s;
        }

        &:active {
            bottom: -5px;
        }
    }

    &:hover {
        background: linear-gradient(225deg, #dd80ed 0%, #3d28e3 100%);
    }

    &:after {
        transition: 0.5s;
    }

    &:active:after {
        transition: 0.5s;
    }

    &:active {
        bottom: 5px;
    }
}